<h2>Редактировать комментарий</h2>
<%= flash[:notice] %>
</br>

<%= form_with(model: [@comment.post, @comment], local: true) do |form| %>
  <div>
    <%= form.text_area :content, id: "comment_content", placeholder: "Редактировать комментарий..." %>
  </div>
  <%= form.submit "Сохранить изменения", class: "update-comment", disabled: true %>
<% end %>

<%= link_to 'Назад', root_path %>

<script>
  var initialContent = document.querySelector('#comment_content').value
  document.querySelector('#comment_content').addEventListener('input', () => {
    var content = document.querySelector('#comment_content').value
    document.querySelector('.update-comment').disabled = false
    if (content === initialContent) {
      document.querySelector('.update-comment').disabled = true
    }
  })
</script>
