<h1><%= @user.email %></h1>
 <%= flash[:notice] %>

<% if current_user != @user %>
  <% if current_user.following.include?(@user) %>
    <%= button_to 'Отписаться', unfollow_user_path(@user), method: :post %>
  <% else %>
    <%= button_to 'Подписаться', follow_user_path(@user), method: :post %>
  <% end %>
<% end %>

<h2>Публикации</h2>
<% if @posts.present? %>
  <% @posts.each do |post| %>
    <p>
      <%= post.user.email %>: <%= post.created_at.strftime("%-d.%m.%Y, %H:%M")%> 
      </br>Сообщение: <%= post.content %>
    </p>
  <% end %>
<% else %>
  <p>У этого пользователя пока нет публикаций.</p>
<% end %>

<%= link_to 'Назад', root_path %>
