<% margin_left = 10 + comment.level * 30 %>

<div style="margin-left: <%= margin_left %>px;">
  <div style="display: inline-flex; align-items: center; gap: 10px; margin-top: 10px; max-width: 100px;">
    Сообщение:  <%= comment.content.html_safe %><br>  
    <%= comment.created_at.strftime('%-d %m %Y, %H:%M') %> <%= comment.user.email %>
    <% if comment.user == current_user %>
      <%= button_to 'Изменить', edit_post_comment_path(comment.post, comment), method: :get, class: 'btn btn-warning' %>
      <%= button_to 'Удалить', post_comment_path(comment.post, comment), method: :delete,  
          data: { confirm: 'Вы уверены, что хотите удалить этот комментарий и все его ответы?' }, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>

<% unless comment.user == current_user %> 
  <%= form_with(model: [comment.post, Comment.new], url: post_comments_path(comment.post), local: true) do |form| %>
    <div style="margin-left: <%= margin_left + 20 %>px; display: flex; align-items: center;">
      <%= form.text_area(:content, placeholder: "Ответ на комментарий...", style: "margin-right: 10px;") %>
      <%= form.hidden_field(:parent_id, value: comment.id) %>
      <%= form.submit("Ответить", style: "margin-top: 0;") %> 
    </div>
  <% end %>
<% end %>

<hr style="margin-left: <%= margin_left %>px; margin-top: 10px; margin-bottom: 10px;">

<%= render partial: 'posts/comment', collection: comment.replies, as: :comment if comment.replies.any? %>
